{% extends 'loggedInBase.html.twig' %}

{% block title %}Hello BlogPostController!{% endblock %}

{% block body %}
    <div class="post">
        <div class="post-metadata">
            <div>
                <a>

                </a>
                <div>

                </div>
                {% if app.user.id == post.user. %}
                <a>

                </a>
            </div>
        </div>
        <hr>
        <div class="post-content">
            {% apply markdown_to_hmtl %}
                post.content
            {% endapply %}
        </div>
    </div>
{% endblock %}
