html {
    height: auto;
}

body {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-left: 8rem;
    padding-right: 8rem;
    background-color: var(--background-color);
    transition: ease width 250ms;
}

nav {
    background-color: var(--elevated-background-color);
    min-height: 4rem;
    max-height: 4rem;
    min-width: auto;
    display: flex;
    padding: 0.75rem;
    gap: 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

nav span {
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 500;
}

nav :last-child {
    margin-left: auto;
}

nav img {
    min-height: 4rem;
    max-height: 4rem;
    min-width: 4rem;
    max-width: 4rem;
    border-radius: 50%;
}

main .flash-message {
    margin-top: 4rem;
}

.multi-part {
    gap: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 4rem;
    flex-grow: 1;
    width: 100%;
    box-sizing: border-box;
}

input {
    font-size: 1rem;
    color: var(--text-color);
    min-width: 19rem;
    min-height: 1.5rem;
    padding: 0.5rem;
    background-color: var(--elevated-background-color);
    border-radius: 1.5rem;
    box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
    border-style: none;
}

button {
    font-size: 1.25rem;
    color: var(--text-color);
    min-height: 3rem;
    min-width: 12rem;
    border-radius: 1.5rem;
    box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
    background-color: var(--accent-color);
    border-style: none;
}

button:hover {
    background-color: var(--accent-highlighted-color);
}

@media (max-aspect-ratio: 10/7) {
    body {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-aspect-ratio: 10/9) {
    .multi-part {
        flex-direction: column-reverse;
    }

    .timeline-content .timeline-dot {
        flex-grow: 1;
        height: 100%;
        min-height: 100%;
    }
}

.timeline-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 2rem;
}

.small-blog-post {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-self: stretch;
    gap: 0.5rem;
    border-radius: 1rem;
    background-color: var(--elevated-background-color);
}

.timeline-content .small-blog-post {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.small-blog-post .metadata-frame {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}

.small-blog-post .metadata-frame .pin {
    min-height: 3rem;
    min-width: 3rem;
    max-height: 3rem;
    max-width: 3rem;
    border-radius: 50%;
    background-color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

.small-blog-post .metadata-frame .pin * {
    margin: 0;
}

.hidden {
    display: none;
}

.small-blog-post .metadata-frame .title-frame {
    display: flex;
    gap: 0.5rem;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

.post-date {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: var(--secondary-text-color);
}

.small-blog-post .metadata-frame .title-frame .title {
    align-items: baseline;
    gap: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--accent-color);
}

.small-blog-post .metadata-frame .title-frame .title:hover {
    color: var(--accent-highlighted-color);
}

.timeline {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.timeline :first-child .timeline-dot:before {
    visibility: hidden;
} 

.timeline :first-child .small-blog-post {
    margin-top: 0;
} 

.timeline :last-child .timeline-dot:after {
    visibility: hidden;
} 

.timeline-content .timeline-dot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    min-height: 100%;
    max-width: 3rem;
}

.timeline-content .timeline-dot:before,
.timeline-content .timeline-dot:after {
    flex-grow: 1;
    display: inline-block;
    content: '';
    width: 0.5rem;
    min-width: 0.375rem;
    max-width: 0.5rem;
    background-color: var(--accent-color); 
}

.timeline-content .timeline-dot .circle {
    background-color: var(--accent-color);
    width: 3rem;
    height: 3rem;
    min-width: 2rem;
    min-height: 2rem;
    max-width: 3rem;
    max-height: 3rem;
}

.circle {
    border-radius: 50%;
}

.sticky {
    position: sticky;
    top: 0;
}

.button {
    border-radius: 1.5rem;
    max-width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: var(--text-color);
    background-color: var(--accent-color);
    padding: 0.5rem 0.75rem;
}

.button:hover {
    color: var(--text-color);
    background-color: var(--accent-highlighted-color);
}

.misc {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.friend {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-self: stretch;
    align-items: center;
    justify-content: start;
}

.friends-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.vertical-container-with-title {
    display: flex;
    align-self: stretch;
    background-color: var(--elevated-background-color);
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 2rem;
    border-radius: 1rem;
    max-height: fit-content;
}

.vertical-container-with-title h3 {
    font-size: 1.5rem;
    color: var(--accent-color);
    font-weight: 600;
}

.socials-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: fit-content;
    gap: 1rem;
}

.social {
    min-height: 3rem;
    min-width: 3rem;
    max-height: 3rem;
    max-width: 3rem;
    border-radius: 50%;
    background-color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.social:hover {
    background-color: var(--accent-highlighted-color);
}

.checkbox {
    display: inline-block;
    font-size: 1rem;
    max-height: 2rem;
}

.checkbox input {
    vertical-align: middle;
    min-width: 1rem;
    min-height: 1rem;
    accent-color: var(--accent-color);
    max-width: 1rem;
    max-height: 1rem;
}

.checkbox input:checked:hover {
    accent-color: var(--accent-highlighted-color);
    color: var(--text-color);
}

.checkbox span {
    vertical-align: middle;
}

.labeled-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.labeled-input input {
    text-align: center;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.flash-message {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    flex-shrink: 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.flash-success {
    color: var(--success-color);
}

.flash-failure {
    color: var(--error-color);
}

.flash-warning {
    color: var(--warning-color);
}

.login-background-image {
    max-height: 100vh;
    max-width: 50vw;
    background-position: center;
    background-size: cover;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.login-background-image svg {
    max-height: 100vh;
}

.label {
    font-size: 1.25rem;
    min-width: 20rem;
}

.login-form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.submit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.password-remember-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0;
}

.no-padding {
    padding: 0;
}

.logged-out {
    padding: 0;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
}

.logged-out main {
    gap: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-grow: 1;
}

.post {
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-items: center;
    max-width: 60rem;
    border-radius: 1rem;
    background-color: var(--elevated-background-color);
    padding: 1rem;
    overflow-x: hidden;
}

.post h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

.post-metadata {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-basis: 0;
    gap: 0.5rem;
    padding: 1rem;
    min-width: 100%;
    box-sizing: border-box;
}

.top-metadata {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    gap: 1rem;
}

.top-metadata a {
    display: grid;
}

.top-metadata .edit-button {
    margin-left: auto;
}

.post hr {
    min-width: 100%;
}

.post-content {
    padding: 1rem;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

.post-content p {
    margin-bottom: 1rem;
}

.post-content a {
    text-decoration: inherit;
    color: var(--accent-color);
    cursor: pointer;
}

.post-content a:visited {
    text-decoration: inherit;
    color: var(--accent-color);
    cursor: pointer;
}

.post-content a:hover {
    color: var(--accent-highlighted-color);
    cursor: pointer;
}

a.highlighted-text:link {
    text-decoration: inherit;
    color: var(--accent-color);
    cursor: pointer;
}

a.highlighted-text:visited {
    text-decoration: inherit;
    color: var(--accent-color);
    cursor: pointer;
}

a.highlighted-text:hover {
    color: var(--accent-highlighted-color);
    cursor: pointer;
}