p {
    color: #F3F1F3;
}

a {
    color: #DA3C97;
}

a:link {
    text-decoration: inherit;
    color: #DA3C97;
    cursor: pointer;
}

a:visited {
    text-decoration: inherit;
    color: #DA3C97;
    cursor: pointer;
}

a:hover {
    color: #DE54A5;
    cursor: pointer;
}

body {
    background-color: #19091B;
    padding: 4rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    flex-grow: 1;
    gap: 2rem;
}

main .email-part {
    flex-grow: 1;
    flex-basis: 0;
    padding: 2rem;
    border-radius: 1rem;
    max-width: 50rem;
    background-color: #331236;
}

h3 {
    font-size: 1.5rem;
    color: #F3F1F3;
    font-weight: 600;
}

.highlighted-text {
    color: #DA3C97;
}

.center {
    text-align: center;
}

.big-text {
    font-size: 1.5rem;
}