{% if errors is not empty %}
    {% for error in errors %}
        <div class="flash-message flash-failure">
            <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 24 24">
                <g fill="none" stroke="#FF6666" stroke-width="2">
                    <circle cx="12" cy="12" r="10"></circle>
                    <path stroke-linecap="round" d="m14.5 9.5l-5 5m0-5l5 5"></path>
                </g>
            </svg>
            <div>
                {{ error.message }}
            </div>
        </div>
    {% endfor %}
{% endif %}